.App {
  text-align: center;
  margin: 30px auto;
  color: white;
}

.board {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.black {
  background-color: red;
  width: 70px;
  height: 70px;
}

.red {
  background-color: black;
  width: 70px;
  height: 70px;
}
